body {
    font-family: 'Arial', sans-serif;
    background-color: #fff0f5;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    padding: 20px 0;
}

h1 {
    color: #ff69b4;
}

.couple-photo {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.message {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.gallery img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}

#counter {
    font-size: 24px;
    text-align: center;
    margin: 20px 0;
    color: #ff69b4;
    font-weight: bold;
}



.spotify-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.spotify-container {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
  
}

.spotify-container:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.album-cover-container {
    height: 150px;
    width: 100%;
    overflow: hidden;
}

.album-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

.spotify-container:hover .album-cover {
    transform: scale(1.05);
}

.spotify-container iframe {
    width: 100%;
    height: 80px;
    border: none;
}

/* Responsividade */
@media (max-width: 768px) {
    .spotify-container {
        max-width: 100%;
    }
}

footer {
    text-align: center;
    margin-top: 40px;
    color: #888;
}